#body{
   background-image:url(background.avif);
   font-family: cursive;
   font-size: 13px;
}
#cherish{
   text-align:center;
   font-family: 'Times New Roman', Times, serif;
}
#info{
   text-align: left;
}
#pic{
   height:130px;
   text-align:center;
}
#sum{
   text-align: center;
   font-style: italic;
}
#education{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#work{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#education{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#education{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#education{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}